@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #4285F4;
}

.container{
  width: 450px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.container h2{
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #d4dbe5;
}

.wrapper{
  margin: 1.25rem 1.75rem;
}

.input-box{
  position: relative;
}

.input-box input{
  width: 100%;
  height: 53px;
  font-size: 1.05rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 0 2.8rem 0 1rem;
}

.input-box span{
  position: absolute;
  right: 13px;
  line-height: 53px;
  cursor: pointer;
  color: #707070;
}

.input-box span:hover{
  color: #4285F4;
}

.pass-indicator{
  height: 4px;
  background: #dfdfdf;
  border-radius: 25px;
  margin-top: 10px;
  position: relative;
}

.pass-indicator::before{
  content: "";
  position: absolute;
  height: 100%;
  border-radius: inherit;
}

#weak::before{ width: 20%; background: #E64A4A; }
#medium::before{ width: 50%; background: #f1c80b; }
#strong::before{ width: 100%; background: #4285F4; }

.pass-length{
  margin: 1.5rem 0;
}

.pass-length .details{
  display: flex;
  justify-content: space-between;
}

.pass-length input{
  width: 100%;
  cursor: pointer;
}

.pass-settings .options{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.option{
  width: 50%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.option input{
  cursor: pointer;
}

.option label{
  padding-left: 8px;
}

.generate-btn{
  width: 100%;
  padding: 0.9rem;
  background: #4285F4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
